body {
  font-size: 10pt;
  font-family:'DotGothic16', sans-serif;
  overflow-y: scroll;
  background-size: cover;
  font-weight: bold;
  
  
}

h2 {
  text-align: center;
  color:black;
}

p {
color: black;
}


.titulo {
padding: 2em;
height: 5em;
max-width: 100%;
background-color: black;
display: flex;
align-items: center;
}



.titulo h1{
    text-align:center;
    font-size: 5em;
    font-family: 'DotGothic16', sans-serif;
    width: 100%;
    color: #FF00FF;
}

.imagen {
background-image: url(imagen24.gif);
background-position:center;
background-repeat:no-repeat;
background-size:cover;
height: 10em;
border-radius: 0.5em;
    

}




.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FF00FF;
    justify-content:center ;
    
}
.tarjeta:hover {
    box-shadow: 5px 5px 15px #000 ;
    transition: .5s;
}

.tarjeta a:visited, .tarjeta a:link , .tarjeta a:active{
    text-decoration: none;
    color: #FF00FF;
}

.tarjeta {
    width: 15em;
    background-color: yellow;
    
    margin: 0.5rem;
    padding: em;
    border-radius: 0.5em;
    border: black;
    transition: .5s;
}

.marcoTarjeta {
    background-color:yellow;
    padding:1em;
    border-radius: 0.5em;
  
}


.marcoTarjeta img {
max-width: 100%;
}


.textoTarjeta h2{
  text-align: center;
  font-size: 2em;
}

.piedepagina{
    background-color:#FF00FF;
    padding: 1rem;
    border-radius: 0.5em;
    text-align: center;
}
